project_ask_old/

ask_crawling_for_realease/

ask_crawling/dataset/

Project_ASK/dataset/

project_ask_32/dataset/

ask_crawling/.idea/

ask_crawling/test.py/

ask_crawling/config.py

Project_ASK/.idea/

project_ask_32/.idea/

ask_crawling/__pycache__/

Project_ASK/__pycache__/

project_ask_32/__pycache__/

prac/

.idea/

.idea/workspace.xml


Project_ASK/db/__pycache__/db.cpython-38.pyc
Project_ASK/modeling/__pycache__/getData.cpython-38.pyc
Project_ASK/modeling/__pycache__/gru_model.cpython-38.pyc
Project_ASK/modeling/__pycache__/preprocess.cpython-38.pyc
Project_ASK/modeling/__pycache__/rnn_model.cpython-38.pyc
Project_ASK/modeling/models/scaler/1_se.pkl
Project_ASK/modeling/models/scaler/1_st.pkl
